.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.book-card {
    align-items: center;
    border-bottom: 1px solid black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-top: 2.25rem;
}

.book-card:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

.card-img {
    max-height: 100%;
    object-fit: fill;
}